.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-wrapper {
  margin: 0 auto;
  width: 1200px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

main {
  padding: 0 59px 0 59px;  
}

main, header {
  background: #232323;
} 

header {
  margin: 0 0 10px 0;
}

footer {
  background: #424242;
  padding: 23px 0 23px 0;
}